#####1. difference between create or replace and drop statement :- 
- basically when we use create or replace then we delete existing table and create a new table in place of that. it does not delete history for previous table.
- but when we use drop table statement we delete data as well as history (versioning) for previous table.

In [0]:
%sql
DROP TABLE IF EXISTS demo.delta_lake.companies;

CREATE TABLE demo.delta_lake.companies
 (company_id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY (START WITH 1 INCREMENT BY 1),
 company_name STRING NOT NULL,
 founded_date DATE NOT NULL,
 country STRING NOT NULL
 );

 INSERT INTO demo.delta_lake.companies
  (company_name, founded_date, country)
  VALUES ("Apple", "1976-04-01","USA"),
        ("Microsoft", "1975-04-04", "USA"),
        ("Google", "1998-09-04", "USA"),
        ("Amazon", "1994-07-05", "USA");

In [0]:
%sql
DESCRIBE HISTORY demo.delta_lake.companies;

In [0]:
%sql

-- when we drop and create table again we loose history for this table

DROP TABLE IF EXISTS demo.delta_lake.companies;

CREATE TABLE demo.delta_lake.companies
 (company_id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY (START WITH 1 INCREMENT BY 1),
 company_name STRING NOT NULL,
 founded_date DATE NOT NULL,
 country STRING NOT NULL
 );

 INSERT INTO demo.delta_lake.companies
  (company_name, founded_date, country)
  VALUES ("Apple", "1976-04-01","USA"),
        ("Microsoft", "1975-04-04", "USA"),
        ("Google", "1998-09-04", "USA"),
        ("Amazon", "1994-07-05", "USA");

In [0]:
%sql

DESCRIBE HISTORY demo.delta_lake.companies;

In [0]:
%sql

-- but when we use create or replace statement we don't loose history for existing table

CREATE OR REPLACE TABLE demo.delta_lake.companies
(company_id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY (START WITH 1 INCREMENT BY 1),
 company_name STRING NOT NULL,
 founded_date DATE NOT NULL,
 country STRING NOT NULL
 );

 INSERT INTO demo.delta_lake.companies
  (company_name, founded_date, country)
  VALUES ("Apple", "1976-04-01","USA"),
        ("Microsoft", "1975-04-04", "USA"),
        ("Google", "1998-09-04", "USA"),
        ("Amazon", "1994-07-05", "USA"),
        ("Tencent", "2000-04-01", "China");

In [0]:
%sql
DESCRIBE HISTORY demo.delta_lake.companies;

#####2. CETAS Statement

In [0]:
# We create table using result from an sql query.
# We don't have flexibility to define schema in this.
# We can cast columns to get required data type but don't have flexibility to define othere schemas such as NOT NULL, GENERATED ALWAYS etc.

In [0]:
%sql
CREATE TABLE demo.delta_lake.companies_china
AS
SELECT * FROM demo.delta_lake.companies
WHERE country = 'China';

In [0]:
%sql
-- later on we can modify table once created using CTAS

ALTER TABLE demo.delta_lake.companies_china
ALTER COLUMN founded_date COMMENT 'This is the date company was founded.'

In [0]:
%sql
DESCRIBE EXTENDED demo.delta_lake.companies_china;